<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.depotato.android_wallpaper_changer">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".di.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_WallPaper_Changer">
        <activity
            android:name=".view.option.SetApplyRangeActivity"
            android:exported="false" />
        <activity
            android:name=".view.option.SetIntervalActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MActivity"
            android:exported="false" />
        <activity
            android:name=".view.test.TestActivity"
            android:exported="false" />
        <activity android:name=".view.main.MainActivity" />
        <activity android:name=".view.loading.LoadingActivity" />
        <activity android:name=".view.apply.ApplyActivity" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ChangeWallPaperService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".service.CustomReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>